/* Imports */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
/* variables */
/* General Styling*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: visible;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* mixins */
/* Navbar */
nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 780px) {
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .left .logo {
  margin: 5px 0 0 0;
}

nav .left .head {
  margin: 0 0 0 5px;
}

nav .left .head h5 {
  font-size: 24px;
}

@media (max-width: 780px) {
  nav .left {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    margin: 0 0 0 20px;
  }
}

nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .right ul li {
  margin: 0 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
}

nav .right ul li a {
  color: #333333;
}

nav .right ul li .active {
  color: #fd8369;
}

nav .right ul li .button {
  color: #ffffff;
  background: #fd8369;
  border-radius: 50px;
  padding: 15px 40px;
}

@media (max-width: 780px) {
  nav .right ul {
    display: none;
  }
}

nav .right .side-nav {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .right .side-nav .btn-close {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-right: 50px;
  cursor: pointer;
}

nav .right .side-nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 10px 10px 30px;
  font-size: 22px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
}

nav .right .side-nav .active {
  font-weight: 800;
  color: #fd8369;
}

nav .right .hamburger {
  display: none;
}

@media (max-width: 780px) {
  nav .right .hamburger {
    display: block;
    text-align: end;
    cursor: pointer;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 50px;
}

.hero-section .left {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-section .left h3 {
  font-weight: 600;
  font-size: 24px;
}

.hero-section .left h1 {
  font-weight: 600;
  font-size: 56px;
  padding: 15px 0;
}

@media (max-width: 780px) {
  .hero-section .left h1 {
    font-size: 40px;
  }
}

.hero-section .left p {
  font-size: 17px;
  color: #333333;
  margin: 0 0 50px 0;
}

.hero-section .left .button {
  color: #ffffff;
  background: #fd8369;
  border-radius: 50px;
  padding: 15px 40px;
}

.hero-section .right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 50px;
}

.hero-section .right img {
  width: 100%;
}

@media (max-width: 780px) {
  .hero-section .right {
    padding: 50px;
  }
}

@media (max-width: 780px) {
  .hero-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section2 {
  background: #000000;
  width: 100%;
}

.section2 .sec2 {
  padding: 100px 50px;
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}

.section2 .sec2 h1 {
  font-weight: bold;
  font-size: 42px;
}

@media (max-width: 780px) {
  .section2 .sec2 h1 {
    font-size: 35px;
  }
}

.section2 .sec2 h4 {
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin: 25px auto 70px auto;
  max-width: 40rem;
  text-overflow: ellipsis;
}

.section2 .sec2 .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2 .sec2 .numbers .coulmn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
}

.section2 .sec2 .numbers .coulmn h2 {
  font-weight: bold;
  font-size: 48px;
}

@media (max-width: 780px) {
  .section2 .sec2 .numbers .coulmn h2 {
    font-size: 30px;
  }
}

.section2 .sec2 .numbers .coulmn h5 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 780px) {
  .section2 .sec2 .numbers .coulmn {
    padding: 0 15px;
  }
}

.section3 {
  background: #f5f5f5;
  padding: 50px;
}

.section3 .sec3 {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .sec3 .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}

.section3 .sec3 .left img {
  width: 100%;
}

.section3 .sec3 .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section3 .sec3 .right h1 {
  font-weight: bold;
  font-size: 56px;
  margin: 0 0 20px 0;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 780px) {
  .section3 .sec3 .right h1 {
    font-size: 40px;
  }
}

.section3 .sec3 .right span {
  font-weight: normal;
  font-size: 16px;
}

.section3 .sec3 .right p {
  color: rgba(0, 0, 0, 0.7);
  margin: 10px 0 0 0;
}

.section3 .sec3 .right .continents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 0;
}

.section3 .sec3 .right .continents .continent {
  padding: 0 10px;
  font-weight: 600;
  font-size: 16px;
}

.section3 .sec3 .right .continents .continent span {
  color: #fd8369;
}

@media (max-width: 780px) {
  .section3 .sec3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section4 {
  padding: 50px;
  width: 100%;
}

.section4 h1 {
  font-weight: bold;
  font-size: 52px;
  color: #333;
  text-align: center;
}

@media (max-width: 780px) {
  .section4 h1 {
    font-size: 40px;
  }
}

.section4 .line {
  width: 130px;
  margin: 0 auto;
  height: 5px;
  background: #fd8369;
}

.section4 .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 150px auto 0 auto;
  max-width: 1200px;
  width: 100%;
}

@media (max-width: 1044px) {
  .section4 .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section4 .services .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4 .services .row .service {
  margin: 0 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section4 .services .row .service img {
  width: 100%;
}

.section4 .services .row .service h4 {
  font-weight: 600;
  font-size: 24px;
  color: #333;
}

.section4 .services .row .service hr {
  height: 5px;
  background: #fd8369;
  width: 100px;
  margin: 30px 0;
  border: 0;
}

@media (max-width: 780px) {
  .section4 .services .row .service hr {
    margin: 15px 0;
  }
}

.section4 .services .row .service p {
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

@media (max-width: 780px) {
  .section4 .services .row .service {
    margin: 15px 0 !important;
  }
}

@media (max-width: 780px) {
  .section4 .services .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section5 {
  padding: 100px 50px;
  background: #f5f5f5;
}

.section5 .sec5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.section5 .sec5 form {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0 50px;
}

.section5 .sec5 form h3 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: #333;
}

.section5 .sec5 form .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 60px 0 0 0;
}

.section5 .sec5 form .left .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section5 .sec5 form .left .row input,
.section5 .sec5 form .left .row textarea {
  width: 100%;
  margin: 15px 15px 15px 0;
  height: 60px;
  padding: 20px;
  border: 0;
}

.section5 .sec5 form .left .row input[type="submit"] {
  background: #fd8369;
  color: #fff;
  padding: 20px 60px;
  width: unset;
  border: 0;
}

@media (max-width: 780px) {
  .section5 .sec5 form .left .row input[type="submit"] {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 780px) {
  .section5 .sec5 form .left .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 780px) {
  .section5 .sec5 form {
    padding: 0;
  }
}

.section5 .sec5 .right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  padding: 0 25px;
}

.section5 .sec5 .right h3 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: #333;
}

.section5 .sec5 .right h5 {
  font-size: 21px;
  color: #555;
  margin: 60px 0 0 0;
}

.section5 .sec5 .right h6 {
  color: #fd8369;
  font-weight: bold;
  font-size: 21px;
  margin: 13px 0 0 0;
}

@media (max-width: 780px) {
  .section5 .sec5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section5 .sec5 hr {
    margin: 25px 0;
  }
}

footer {
  background: #000;
  padding: 50px;
}

footer .footer {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1044px) {
  footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer .left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1044px) {
  footer .footer .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

footer .footer .left .column {
  max-width: 20rem;
}

@media (max-width: 1044px) {
  footer .footer .left .column {
    padding: 0 0 20px 0;
  }
}

footer .footer .left .column li {
  padding: 0 0 30px 0;
}

footer .footer .left .column li span {
  color: #fd8369;
  text-overflow: ellipsis;
}

footer .footer .left .main {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

footer .footer .left a {
  color: rgba(255, 255, 255, 0.7);
}

footer .footer .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

footer .footer .right h3 {
  color: #fff;
  font-weight: 600;
  font-size: 29px;
  margin: 0 0 30px 0;
}

footer .footer .right .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
}

footer .footer .right .newsletter input[type="email"] {
  padding: 20px 30px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: inherit;
}

footer .footer .right .newsletter input[type="submit"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 30px;
  background: #fd8369;
  color: #fff;
  border: 0;
  cursor: pointer;
}

@media (max-width: 780px) {
  footer {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */